@charset "UTF-8";
html {
	font-size: 62.5%;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
	box-sizing:border-box;
	line-height:1;
}
body, div, span, object, iframe, main,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
	box-sizing:border-box;
	line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,main,section { 
	display:block;
}
p {
	text-align: justify;
}
img {
	vertical-align:bottom;
}
ul,
ol,
li {
	list-style:none;
	box-sizing: border-box;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	text-decoration:none;
	color: #000000;
	box-sizing: border-box;
}
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}
mark {
	background-color:#ff9;
	color:#000; 
	font-style:italic;
	font-weight:bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
hr {
	display:block;
	height:1px;
	border:0;   
	border-top:1px solid #cccccc;
	margin:0;
	padding:0;
}
input, select {
	vertical-align:middle;
}
.cf {
	zoom: 1;
}
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
sup {
	vertical-align: text-top;
	font-size: 50%;
}
em {
	font-style: normal;
}
a[href^="tel:"] {
	pointer-events: none;
}
input, button, textarea, select {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-sizing: border-box;
}
@media screen and (max-width:767px) {
	img {
		max-width: 100%;
	}
	a[href^="tel:"] {
		pointer-events: auto;
	}
}