@charset "utf-8";
.popup-wrap {
	width: 100% !important;
}
.mfp-close {
	position: fixed;
	right: 1rem !important;
	top: 1rem !important;
}
.mfp-close-btn-in .mfp-close {
	background: rgba(0,0,0,.5);
	padding: 0 1rem;
	line-height: 1;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	width: 100%;
	margin: 0 auto;
	font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Yu Gothic", "Meiryo", sans-serif;
}
.sp-only {
	display: none !important;
}
.inner {
	width: 1225px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
img {
	max-width:100%;
}
area{
	border:none;
	outline:none;
}
a {
	transition: 0.5s;
}
a:hover {
	opacity: 0.6;
}
.inline-link img {
	transition: 0.5s;
}
.inline-link img:hover  {
	opacity: 0.6;
}
.supocar a img {
	transition: 0.5s;
}
.supocar a img:hover {
	opacity: 0.6;
}
/*----------------------------------------------------------------------------------------------------------------*/
header {
	padding: 5rem 0;
}
header img {
	display: block;
}
header img.logo {
	margin: 0 auto;
}
/*----------------------------------------------------------------------------------------------------------------*/
.movie {
	padding: 0 0 6rem;
}
.movie .inner {
	width: 88rem;
	margin: 0 auto;
}
video {
	height: 50rem;
}
.carimg {
	width: 129rem;
	margin: 0 auto;
}
/*----------------------------------------------------------------------------------------------------------------*/
.cta {
	padding: 4rem 0 5rem;
}
.cta ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 122.5rem;
}
.cta ul li {
	width: 38.4rem;
}
/*----------------------------------------------------------------------------------------------------------------*/
.linkarea {
	padding: 0 0 8rem;
}

.linkarea ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 122.5rem;
}
.title {
	padding: 0 0 7rem;
}
/*----------------------------------------------------------------------------------------------------------------*/
.near {
	width: 129rem;
	margin: 0 auto;
}
.near ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 122.5rem;
	padding: 0 0 3rem;
}
.near ul li {
	width: calc((100% - 20rem) / 5);
	margin: 0 0 3rem;
}
.near .map_frame {
	width: 100%;
	height: 38rem;
}
/*----------------------------------------------------------------------------------------------------------------*/
.lineup {
	padding: 10rem 0 1rem;
	width: 129rem;
	margin: 0 auto;
}
.lineup ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.lineup ul li {
	margin: 0 0 2.5rem;
	cursor: pointer;
}
.popup-wrap {
	width: 129rem;
	margin: 0 auto;
}
.popup-inner {
	position: relative;
	width: 129rem;
	margin: 0 auto;
}
.mfp-close {
	position: fixed;
	right: 8%;
	top: 10%;
}
.top-back {
	position: absolute;
	bottom: 390px;
	right: 262px;
	cursor: pointer;
}
.top-back-ody {
	position: absolute;
	bottom: 470px;
	right: 262px;
	cursor: pointer;
}
.top-back-fit {
	position: absolute;
	bottom: 465px;
	right: 278px;
	cursor: pointer;
}
.top-back-freed {
	position: absolute;
	bottom: 290px;
	right: 262px;
	cursor: pointer;
}
.top-back-nbox {
	position: absolute;
	bottom: 1432px;
	right: 262px;
	cursor: pointer;
}
.top-back-nwgn {
	position: absolute;
	bottom: 470px;
	right: 262px;
	cursor: pointer;
}
.top-back-stepwgn {
	position: absolute;
	bottom: 220px;
	right: 262px;
	cursor: pointer;
}
.top-back-vezel {
	position: absolute;
	bottom: 247px;
	right: 262px;
	cursor: pointer;
}
/*----------------------------------------------------------------------------------------------------------------*/
.supocar {
	width: 129rem;
	margin: 0 auto;
}
.supocar .supocar-btn img {
	display: block;
	margin: 5rem auto 2.5rem;
}
.supocar img.note {
	display: block;
	margin: 0 auto;
}
.supocar .sensing img {
	margin: 2rem auto;
	display: block;
}
/*----------------------------------------------------------------------------------------------------------------*/
footer {
	padding: 2.5rem 0 15rem;
}
footer img {
	display: block;
	margin: 0 auto;
}
.cta-fix {
	background-color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1.5rem 0;
	z-index: 10;
}


/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------タブレット／ブレイクポイント-------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
	@media screen and (min-width:768px) and (max-width:1199px) {
		
	}
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------スマートフォン／ブレイクポイント-------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:767px) {
	body {
		width: 100%;
	}
	.sp-only {
		display: block !important;
	}
	.pc-only {
		display: none !important;
	}
	.inner {
		width: 100%;
		padding: 0 1rem;
	}
	header {
		padding: .8rem 0 2rem;
	}
	header img.logo {
		margin: 1rem auto 0;
	}
	/*----------------------------------------------------------------------------------------------------------------*/
	.movie {
		padding: 0 0 3rem;
	}
	.movie .inner {
		width: 100%;
	}
	video {
		height: auto;
		width: 100%;
	}
	.carimg {
		width: 100%;
	}
	/*----------------------------------------------------------------------------------------------------------------*/
	.cta {
		padding: 1rem 0 1.5rem;
	}
	.cta ul {
		width: 100%;
	}
	.cta ul li {
		width: calc((100% - 2rem) / 3);
	}
	/*----------------------------------------------------------------------------------------------------------------*/
	.linkarea {
		padding: 0 0 2rem;
	}
	.linkarea ul {
		width: 100%;
		flex-wrap: wrap;
	}
	.linkarea ul li {
		width: calc((100% - .8rem) / 2 );
		margin: 0 0 1rem;
	}
	.title {
		padding: 0 0 1.7rem;
	}
	/*----------------------------------------------------------------------------------------------------------------*/
	.near {
		width: 100%;
	}
	.near ul {
		width: 100%;
		padding: 0rem;
	}
	.near ul li {
		width: calc((100% - 1rem) / 2);
		margin: 0 0 2rem;
		font-size: 1rem;
	}
	.near .map_frame {
		height: 20rem;
	}
	/*----------------------------------------------------------------------------------------------------------------*/
	.lineup {
		padding: 2.5rem 0 1rem;
		width: 100%;
	}
	.lineup ul li {
		margin: 0 0 .5rem;
		width: calc((100% - .5rem) / 2);
	}
	.popup-wrap {
		width: 35rem;
	}
	.mfp-close {
		position: fixed;
		right: 1%;
		top: 1%;
	}
	.none01 {
		position: absolute;
		top: 1545px;
		left: 50%;
		transform: translateX(-50%);
		width: 85%;
	}
	.none-sen01 {
		position: absolute;
		top: 2024px;
		right: 17px;
		width: 11rem;
	}
	.none-sen02 {
		position: absolute;
		top: 2364px;
		right: 17px;
		width: 11rem;
	}
	.none-sen03 {
		position: absolute;
		top: 2704px;
		right: 17px;
		width: 11rem;
	}
	.none-btn01 {
		position: absolute;
		bottom: 23.3rem;
		left: 50%;
		transform: translateX(-50%);
		width: 20rem;
	}
	.none-btn02 {
		position: absolute;
		bottom: 19.8rem;
		left: 50%;
		transform: translateX(-50%);
		width: 20rem;
	}
	
	.ody01 {
		position: absolute;
		bottom: 665px;
		left: 50%;
		width: 91%;
		transform: translateX(-50%);
	} 
	.ody-sen01 {
		position: absolute;
		bottom: 318px;
		right: 31px;
		width: 11rem;
	} 
	.ody-btn01 {
		position: absolute;
		bottom: 237px;
		left: 50%;
		transform: translateX(-50%);
		width: 63%;
	} 
	.ody-btn02 {
		position: absolute;
		bottom: 203px;
		left: 50%;
		transform: translateX(-50%);
		width: 63%;
	} 
	.fit-sen00 {
		position: absolute;
		top: 480px;
		right: 12px;
		width: 11rem;
	}
	.fit-sen01 {
		position: absolute;
		top: 1233px;
		right: 12px;
		width: 11rem;
	}
	.fit-sen02 {
		position: absolute;
		top: 1600px;
		right: 12px;
		width: 11rem;
	}
	.fit-sen03 {
		position: absolute;
		top: 1950px;
		right: 12px;
		width: 11rem;
	}
	.fit-sen04 {
		position: absolute;
		top: 2307px;
		right: 12px;
		width: 11rem;
	}
	.fit01 {
		position: absolute;
		bottom: 521px;
		left: 50%;
		width: 76%;
		transform: translateX(-50%);
	}
	.fit-btn01 {
		position: absolute;
		bottom: 237px;
		left: 50%;
		transform: translateX(-50%);
		width: 63%;
	}
	.fit-btn02 {
		position: absolute;
		bottom: 203px;
		left: 50%;
		transform: translateX(-50%);
		width: 63%;
	} 
	
	.freed-sen01 {
		position: absolute;
		top: 740px;
		right: 12px;
		width: 11rem;
	}
	.freed-sen02 {
		position: absolute;
		top: 1160px;
		right: 12px;
		width: 11rem;
	}
	.freed-btn01 {
		position: absolute;
		bottom: 209px;
		left: 50%;
		transform: translateX(-50%);
		width: 63%;
	}
	.freed-btn02 {
		position: absolute;
		bottom: 175px;
		left: 50%;
		transform: translateX(-50%);
		width: 63%;
	} 
	.nbox-sen01 {
		position: absolute;
		top: 567px;
		right: 98px;
		width: 11rem;
	}
	.nbox-btn01 {
		position: absolute;
		bottom: 560px;
		left: 50%;
		transform: translateX(-50%);
		width: 63%;
	}
	.nbox-btn02 {
		position: absolute;
		bottom: 523px;
		left: 50%;
		transform: translateX(-50%);
		width: 63%;
	} 
	.nbox01 {
		position: absolute;
		bottom: 43px;
		left: 50%;
		width: 93%;
		transform: translateX(-50%);
	}
	
	.nwgn-sen01 {
		position: absolute;
		top: 520px;
		right: 11px;
		width: 11rem;
	}
	.nwgn-sen02 {
		position: absolute;
		top: 920px;
		right: 11px;
		width: 11rem;
	}
	.nwgn-btn01 {
		position: absolute;
		bottom: 323px;
		left: 50%;
		transform: translateX(-50%);
		width: 63%;
	}
	.nwgn-btn02 {
		position: absolute;
		bottom: 287px;
		left: 50%;
		transform: translateX(-50%);
		width: 63%;
	} 
	.nwgn01 {
		position: absolute;
		bottom: 43px;
		left: 50%;
		width: 93%;
		transform: translateX(-50%);
	}
	.stepwgn-sen01 {
		position: absolute;
		top: 425px;
		right: 95px;
		width: 11rem;
	}
	.stepwgn01 {
		position: absolute;
		bottom: 185px;
		left: 50%;
		width: 93%;
		transform: translateX(-50%);
	}
	.stepwgn-btn01 {
		position: absolute;
		bottom: 154px;
		left: 50%;
		transform: translateX(-50%);
		width: 63%;
	}
	.stepwgn-btn02 {
		position: absolute;
		bottom: 122px;
		left: 50%;
		transform: translateX(-50%);
		width: 63%;
	} 
	.vezel-sen01 {
		position: absolute;
		top: 425px;
		right: 95px;
		width: 11rem;
	}
	.vezel01 {
		position: absolute;
		bottom: 185px;
		left: 50%;
		width: 93%;
		transform: translateX(-50%);
	}
	.vezel-btn01 {
		position: absolute;
		bottom: 153px;
		left: 50%;
		transform: translateX(-50%);
		width: 63%;
	}
	.vezel-btn02 {
		position: absolute;
		bottom: 121px;
		left: 50%;
		transform: translateX(-50%);
		width: 63%;
	} 
	
	
	/*----------------------------------------------------------------------------------------------------------------*/
	.supocar {
		width: 100%;
	}
	.supocar .supocar-btn img {
		margin: 1.6rem auto 1rem;
	}
	.supocar .sensing img {
		margin: 1rem auto;
	}
	/*----------------------------------------------------------------------------------------------------------------*/
	footer {
		padding: 1.3rem 0 7rem;
	}
}


